*{
  box-sizing: border-box;
  font-size: 18px;
  background-color: coral;
}

.nav-item{
  text-align: center;
}

#menu{
  font-size: 1.4em;
  margin-top: 0px;
  padding-top: 15px;
  margin-bottom: 15px;
}

#mainTextTitle{
  font-size: 1.2em;
  color: white;
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: gray;
}

section{
  margin-bottom: 2%;
}

.row{
  margin-left: 5%;
  margin-right: 5%;

}
p{
  padding: 0% 5%;
  font-size: 0.9em;
  color: white;
  background-color: inherit;
}

.backBtn{
  color: black;
  font-size: 0.6em;
  margin: 15px;
}

.textField{
  padding: 8px;
  margin-bottom: 50px;
  background-color: gray;
}
#middleBtn{
  width: 100px;
  margin-bottom: 25px;
}