*{
  box-sizing: border-box;
  font-size: 18px;
  background-color: coral;
}

.nav-item{
  text-align: center;
}

#menu{
  font-size: 1.4em;
  margin-top: 0px;
  padding-top: 15px;
  margin-bottom: 15px;
}

#discription{
  font-size: 1.2em;
  color: white;
  margin-top: 15px;
  margin-bottom: 15px;
}

section{
  margin-bottom: 2%;
}

.row{
  margin-left: 5%;
  margin-right: 5%;
  background-color: cornsilk;
}
#textArea{
  padding: 0% 5%;
  font-size: 0.9em;
  color: white;
}
.col-sm-12 , #discription , p{
  background-color: gray;
}
